.page {
  background: #2a2c2f;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

@media screen and (min-width: 1281px) {
  .page {
    display: flex;
    align-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .page {
    margin: 0;
  }
}
