.place__link-button {
  background: #0278fe;
  min-width: 248px;
  height: 48px;
  text-decoration: none;
  grid-area: link;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  padding: 13px 20px;
  display: flex;
  justify-self: center;
  transition: background-color 0.5s ease;
}

.place__link-button:hover {
  background: #0063d2;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__link-button {
    margin: 0 16px;
    min-width: 288px;
  }
}
