.cover__overlay {
  background-image: url(../../../images/cover_background.png);
  background-size: cover;
  min-width: 1184px;
  min-height: 740px;
  transition: border 0.3s ease;
  position: relative;
  z-index: 1;
}

.cover__overlay:hover {
  border: 1px solid #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cover__overlay {
    min-width: 768px;
    width: 100%;
    min-height: 746px;
  }
}

@media screen and (min-width: 320px) and (max-width: 676px) {
  .cover__overlay {
    min-width: 320px;
    width: 100%;
    min-height: 254px;
    height: 80vw;
  }
}
