.photos {
  margin: 118px 48px 92px;
  display: grid;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  grid-gap: 16px 16px;
  max-width: 1184px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .photos {
    min-width: 720px;
    margin: 90px 24px 88px;
    grid-template-columns: repeat(2, minmax(284px, 1fr));
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photos {
    min-width: 288px;
    margin: 90px 15px 62px;
    display: flex;
    flex-direction: column;
  }
}
