.header__title {
  max-width: 793px;
  max-height: 200px;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0;
  margin: 90px 0 0;
}

@media screen and (max-width: 1279px) {
  .header__title {
    max-width: 720px;
    max-height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    max-width: 288px;
    max-height: 132px;
    font-size: 40px;
    line-height: 44px;
    margin-top: 50px;
  }
}
