.places__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: description;
  height: 100%;
}

@media screen and (min-width: 1281px) {
  .places__description {
    max-width: 400px;
  }
}
